## Save data to the project and do some exploration if desired

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline

In [2]:
usin = 'https://covidtracking.com/api/us/daily.csv'
statesin = 'https://covidtracking.com/api/v1/states/current.csv'

usout = '../data/raw/covidtracking/us_historical.csv'
statesout = '../data/raw/covidtracking/states_historical.csv'

#### not going to merge in the numbers from the current day, but you can do so if you like

In [3]:
pd.read_csv('https://covidtracking.com/api/v1/us/current.csv')

,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,lastModified,death,hospitalized,total,totalTestResults,posNeg,notes
0,460287,1912056,17776,46682,48974,12244,928,5794,41,21346,a7e355ffe4dc8cf469fa384082882802a8bcc416,4/10/2020,16535,48974,2390119,2372343,2372343,"NOTE: ""total"", ""posNeg"", ""hospitalized"" will b..."

In [4]:
pd.read_csv('https://covidtracking.com/api/v1/states/current.csv').head(2)

,state,positive,positiveScore,negativeScore,negativeRegularScore,commercialScore,grade,score,negative,pending,...,death,hospitalized,total,totalTestResults,posNeg,fips,dateModified,dateChecked,notes,hash
0,AK,235,1.0,1.0,1.0,1.0,A,4.0,6988,NaN,...,7,27.0,7223,7223,7223,2,2020-04-09T20:00:00Z,2020-04-09T19:49:00Z,"Please stop using the ""total"" field. Use ""tota...",24e2eeae42a5bb41b4dd108bd7af1f73c49762f5
1,AL,2838,1.0,1.0,0.0,1.0,B,3.0,18058,NaN,...,78,333.0,20896,20896,20896,1,2020-04-09T04:00:00Z,2020-04-10T02:15:00Z,"Please stop using the ""total"" field. Use ""tota...",9ec8a401d0e8401b4adbe459e52b9db1093078d8

#### get historical numbers

In [5]:
df = pd.read_csv(usin)
dfs = pd.read_csv(statesin)

In [6]:
df.to_csv(usout)
dfs.to_csv(statesout)

#### brief exploration

In [7]:
df.head()

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,death,hospitalized,total,totalTestResults,posNeg,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200409,56,457963,1902549.0,17631.0,46026.0,48344.0,12063.0,924.0,5794.0,...,16399,48344.0,2378143,2360512,2360512,1904.0,1190.0,128443.0,34326.0,162769.0
1,20200408,56,423637,1774106.0,17228.0,40456.0,47154.0,9746.0,1013.0,4131.0,...,14495,47154.0,2214971,2197743,2197743,1867.0,1654.0,109403.0,30280.0,139683.0
2,20200407,56,393357,1664703.0,16557.0,39036.0,45500.0,9685.0,889.0,4076.0,...,12628,45500.0,2074617,2058060,2058060,1923.0,2302.0,116564.0,31186.0,147750.0
3,20200406,56,362171,1548139.0,17292.0,31572.0,43198.0,6752.0,814.0,2961.0,...,10705,43198.0,1927602,1910310,1910310,1163.0,2975.0,117707.0,28951.0,146658.0
4,20200405,56,333220,1430432.0,17307.0,27909.0,40223.0,5499.0,760.0,652.0,...,9542,40223.0,1780959,1763652,1763652,1168.0,2556.0,111840.0,26293.0,138133.0

In [8]:
df.describe()

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,death,hospitalized,total,totalTestResults,posNeg,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
count,4.200000e+01,42.000000,42.000000,3.800000e+01,37.000000,19.000000,20.000000,15.000000,16.000000,16.000000,...,42.000000,20.000000,4.200000e+01,4.200000e+01,4.200000e+01,41.000000,41.000000,41.000000,41.000000,41.000000
mean,2.020033e+07,46.285714,96886.642857,4.825473e+05,20782.513514,18569.105263,23112.300000,5093.800000,456.937500,1409.125000,...,2570.523810,23112.300000,5.517855e+05,5.334771e+05,5.334771e+05,399.878049,1179.121951,46403.634146,11169.609756,57573.243902
std,4.412057e+01,18.519977,138391.495885,5.959490e+05,25700.539751,14164.438558,16569.918966,3201.554582,331.684884,1772.326602,...,4367.453582,16569.918966,7.345064e+05,7.221506e+05,7.221506e+05,590.633312,1447.859734,49329.619293,12440.163252,61362.778019
min,2.020023e+07,1.000000,9.000000,6.000000e+00,103.000000,56.000000,1964.000000,1299.000000,74.000000,167.000000,...,4.000000,1964.000000,9.000000e+00,9.000000e+00,9.000000e+00,1.000000,0.000000,0.000000,4.000000,4.000000
25%,2.020031e+07,51.000000,846.000000,9.434000e+03,1130.000000,8949.000000,8219.250000,2771.500000,152.000000,426.750000,...,35.500000,8219.250000,4.659000e+03,4.307000e+03,4.307000e+03,4.000000,0.000000,1009.000000,231.000000,1240.000000
50%,2.020032e+07,56.000000,14746.000000,1.746860e+05,3468.000000,17353.000000,20593.000000,4410.000000,431.500000,567.500000,...,216.000000,20593.000000,1.216990e+05,1.185260e+05,1.185260e+05,50.000000,0.000000,29026.000000,5352.000000,34378.000000
75%,2.020033e+07,56.000000,155862.250000,8.442318e+05,51235.000000,27141.500000,38306.000000,6125.500000,773.500000,1232.250000,...,2854.000000,38306.000000,9.826655e+05,9.172525e+05,9.172525e+05,516.000000,2395.000000,89545.000000,21327.000000,108224.000000
max,2.020041e+07,56.000000,457963.000000,1.902549e+06,65709.000000,46026.000000,48344.000000,12063.000000,1013.000000,5794.000000,...,16399.000000,48344.000000,2.378143e+06,2.360512e+06,2.360512e+06,1923.000000,4141.000000,191997.000000,34326.000000,225890.000000